@font-face
  font-family: 'Print Char 21'
  src: url(fonts/printchar21.ttf) format('truetype')
  font-style: normal
  font-weight: normal

body
  margin: 0
  cursor: default
  overflow: hidden
  user-select: none
  background: #000
  color: #fff
  font-family: 'Print Char 21', monospace, sans-serif
  font-size: 0.75rem
  line-height: 1.25rem
  font-weight: 400
  opacity: 0
  transition: opacity .15s ease-out
  will-change: opacity
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &.loaded
    opacity: 1;
  
canvas
  vertical-align: middle

#mount
  width: 100vw
  height: 100vh

#splash, .dialog
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, .5)
  > div
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    align-items: center

#splash
  text-shadow: 0 0 10px #f00
  z-index: 1
  svg
    filter: drop-shadow(0 0 5px #f00)

.dialog > div
  flex-direction: column
  > button
    width: 200px
    padding: 1rem 0
    border: 0
    outline: 0
    background: #aaa
    font-family: inherit
    font-size: inherit
    font-weight: inherit
    cursor: pointer
    &.active
      background: #333
      color: #933
      cursor: default
    &.exit
      margin-top: 1.5rem

.toolbar
  position: fixed
  left: 0
  top: 50%
  transform: translate(0, -50%)
  background: rgba(0, 0, 0, .5)
  padding: 1rem
  button, input
    padding: 1rem 0
    border: 0
    margin: 0
    outline: 0
    font-family: inherit
    font-size: inherit
    font-weight: inherit
    background: #333
    color: #bebebe
    cursor: pointer
  > div
    width: 12rem
    > div
      display: flex
      flex-wrap: wrap
      margin-bottom: 1rem
      button, input
        width: 50%
      button:hover
        color: #fff
      > button.active, > button.active:hover
        background: #fff
        color: #333
        cursor: default
      > input[type=color], > input[type=number]
        padding: 0
        height: 45px
        cursor: pointer
      > input[type=number]
        width: 60%
        background: #222
        box-sizing: border-box
        padding: 0 0.5rem
        font-size: 2em
        text-align: center
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button
          opacity: 1
      > div
        width: 40%
  .save
    width: 100%
    &.modified
      background: #600
      color: #fff
 
#credits
  margin-right: 3rem
  h1
    font-size: 3em
  p
    font-size: 1em
    white-space: nowrap
  small
    font-size: 0.75em

#help
  display: flex
  text-align: center
  > div
    margin: 0.5rem

#sound
  position: absolute
  top: 0.75rem
  left: 0.5rem
  background: none
  border: 0
  outline: 0
  cursor: pointer
  > svg
    width: 28x
    height: 28px
    fill: #fff
    filter: drop-shadow(0 0 10px #f00)
    &:last-child
      display: none
      filter: none
  &.muted > svg
    &:first-child
      display: none
    &:last-child
      display: block
  

#github > svg
  position: absolute
  top: 0
  right: 0
  .octo-arm
    transform-origin: 130px 106px
  &:hover .octo-arm
    animation: octocat-wave 560ms ease-in-out

@keyframes octocat-wave
  0%
    transform: rotate(0deg)
  20%
    transform: rotate(-25deg)
  40%
    transform: rotate(10deg)
  60%
    transform: rotate(-25deg)
  80%
    transform: rotate(10deg)
  100%
    transform: rotate(0deg)
